body {
  background-color: hsl(185, 75%, 39%);
  text-align: center;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left -250px top -600px, right -250px bottom -600px;
}

h3, h4 {
  font-family: Kumbh Sans, sans-serif;
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  margin-top: auto;

}

h4 {
  color: hsl(227, 10%, 46%);
  font-size: 1rem;
}

hr {
  color: hsl(0, 0%, 59%);
  margin-bottom: 5%;
}

span {
  font-size: 18px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

p {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  font-size: .75rem;
}

.bg {
  max-width: 100%;
}

.bold {
  font-weight: 700;
}

.card {
  border-radius: 15px 15px;
}

.card-bg {
  border-radius: 15px 15px 0 0;
  position: relative;
}

.container-fluid {
  padding: 10% 35%;
}

.victor-img {
  border-style: solid;
  border-width: thick;
  border-color: white;
  width: 33%;
  border-radius: 100%;
  position: relative;
  bottom: 80px;
  margin-bottom: -40px;
}
